<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>User Profile</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->

        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row space">
            <section class="row">
                <div class="col-lg-3">
                    <div class="portlet light" style="min-height:150px;">
                        <section class="login_details" style="border-bottom:1px solid #DCDCDC">
                            <img alt="" class="img-circle img-thumbnail" src="img/avatar9_big.png" />
                            <p>{{response.fullName}}</p>
<!--                            <button class="btn portlet-button-selected"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Important Dates</button>-->
                            <br>
                            <br>
                        </section>
                        <section class="row">
                            <h4 class="heading_primary"><img height="25" width="auto" src="img/icons/swimming.jpg"> Personal Expenses</h4>
                           
                            
                        </section>
                        <section class="row text-center">
                            <i style="color:#DCDCDC" class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-if="d_processing"></i><span class="sr-only" ng-if="d_processing">Loading...</span>
                            <ui-knob value="d_chart.personal_expenses" options="options_d_chart" ng-if="!d_processing"></ui-knob>
                        </section>
                    </div>
                </div>
                <!--end of col-lg-3-->
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet light" style="min-height:150px;">
                                <section class="row">
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <h4 class="heading_primary"><i class="fa fa-info-circle" aria-hidden="true"></i>
 PERSONAL DETAILS</h4>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-click="editprofile()">
                                    <i style="color:blue" class="fa fa-pencil-square-o "></i>
                                         </div>
                                </section>
                                <section>
                                    <hr style="color:#DCDCDC;border:1px solid">
                                    <i style="color:#DCDCDC" class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-if="processing"></i><span class="sr-only" ng-if="processing">Loading...</span>
                                    <div class="row" ng-if="!processing">
                                        <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <dl class="dl-horizontal">
                                                <dt>Employee Name</dt>
                                                <dd ng-if="editmode==false">{{response.fullName}}</dd>
                                                <input type="text" ng-if="editmode" ng-model="response.fullName">
                                                <dt ng-if="editmode==false">Employee Number</dt>
                                                <dd ng-if="editmode==false">{{response.employeeId}}</dd>
<!--                                                <input type="text" ng-if="editmode" ng-model="response.employeeId">-->
                                                <dt ng-if="editmode==false">Company Name</dt>
                                                <dd ng-if="editmode==false">{{response.clientName}}</dd>
                                                <dt ng-if="editmode==false">Department</dt>
                                                <dd ng-if="editmode==false">{{response.departmentName}}</dd>
<!--                                                <input type="text" ng-if="editmode" ng-model="response.departmentName">-->
                                                <dt>Email ID</dt>
                                                <dd ng-if="editmode==false">{{response.emailId}}</dd>
                                                <input type="text" ng-if="editmode" ng-model="response.emailId">
                                                 <dt>Password</dt>
                                                <dd ng-if="pwdeditmode==false">*******  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-click="editpwd()">
                                    <i style="color:blue" class="fa fa-pencil-square-o "></i>
                                         </div></dd>
                                                <input type="text" ng-if="pwdeditmode" ng-model="response.pwd">
                                                
                                            </dl>
                                        </section>
                                        <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <dl class="dl-horizontal">
                                                <dt>Office Number</dt>
                                                <dd ng-if="editmode==false">{{response.officeNum}}</dd>
                                                <input type="text" ng-if="editmode" ng-model="response.officeNum">
                                                <dt>Mobile Number</dt>
                                                <dd ng-if="editmode==false">{{response.contactNum}}</dd>
                                                <input type="text" ng-if="editmode" ng-model="response.contactNum">
                                                <dt>Home Number</dt>
                                                <dd ng-if="editmode==false">{{response.homeNum}}</dd>
                                                <input type="text" ng-if="editmode" ng-model="response.homeNum">
                                                <dt>Home Address</dt>
                                                <dd ng-if="editmode==false">{{response.employeeAddress}}</dd>
                                                <input type="text" ng-if="editmode" ng-model="response.employeeAddress">
                                            </dl>
                                        </section>
                                    </div>
                            
                                    <button type="button" ng-if="editmode" ng-click="updateuser(response)">Update</button>
                                     <button type="button" ng-if="pwdeditmode" ng-click="updateuser(response)">Update password</button>
                                </section>
                            </div>
                            <!--end of portlet light bordered-->
                        </div>
                        <!--end of col-lg-12-->
                        <div class="col-lg-12">
                            <div class="portlet light" style="min-height:150px;">
                                <section class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4 class="heading">
                                            <i class="fa fa-history" aria-hidden="true"></i>
                                            ACCOUNT HISTORY
                                        </h4>
                                    </div>
                                </section>
                                <section>
                                    <hr style="color:#DCDCDC;border:1px solid">
                                    <i style="color:#DCDCDC" class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-if="processing"></i><span class="sr-only" ng-if="processing">Loading...</span>
                                    <table class="table" ng-if="!processing">
                                        <thead>
                                            <tr>
                                                <th>Sr.No.</th>
                                                <th>Date</th>
                                                <th>Posted at</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key,trans) in transactionDetails | orderBy: '-createdTime' | limitTo:10" style="color:#B0B0B0;font-weight:bold">
                                                <th scope="row">{{key+1}}.</th>
                                                <td>{{trans.createdTime | date:'dd/MM/yyyy'}}</td>
                                                <td>{{trans.createdTime | date:'hh:mm a'}}</td>
                                                <td>{{trans.expenseHeadName}}</td>
                                                <td>{{trans.transactionStatus}}</td>
<!--
                                                <td>
                                                    <a class="table_actions" title="Edit">
                                                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                                    </a>
                                                    <a class="table_actions" title="View" ng-href="{{trans.docUrl}}" target="_blank">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </td>
-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                            <!--end of portlet light bordered-->
                        </div>
                        <!--end of col-lg-12-->
                        <section class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="portlet light" style="min-height:150px;">
                                <section class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4 class="heading_primary">
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                            RECENT APPROVED TRIPS
                                        </h4>
                                    </div>
                                </section>
                                <section>
                                    <hr style="color:#DCDCDC;border:1px solid">
                                    <i style="color:#DCDCDC" class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-if="processing"></i><span class="sr-only" ng-if="processing">Loading...</span>
                                    <table class="table" ng-if="!processing">
                                        <thead>
                                            <tr>
                                                <th>Sr.No.</th>
                                                <th>Date</th>
                                                <th>Type of trip</th>
                                                <th>Description</th>
<!--                                                <th>Action</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key,trans) in approved_trips | orderBy: '-createdTime' | limitTo:10" style="color:#B0B0B0;font-weight:bold">
                                                <th scope="row">{{key+1}}.</th>
                                                <td>{{trans.createdTime | date:'dd/MM/yyyy'}}</td>
                                                <td>{{trans.travelPurpose}}</td>
                                                <td></td>
<!--
                                                <td>
                                                    <a class="table_actions" title="Edit">
                                                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                                    </a>
                                                    <a class="table_actions" title="View" ng-href="{{trans.docUrl}}" target="_blank">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </td>
-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                            <!--end of portlet light bordered-->
                        </section>
                        <!--end of col-lg-9-->
                        <section class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></section>
                        <!--end of col-lg-3-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of col-lg-9-->
            </section>
        </div>
        <!--end of row-->
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
