<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-8 bs-reset">
            <div class="login-bg" style="background-image:url(img/login/bg1.jpg)">
            </div>
            <!--end of login-bg-->
        </div>
        <!--end of col-md-8-->
        <div class="col-md-4 login-container bs-reset">
            <div class="login-content">
                <!-- <img src="img/login/logo.jpg" /> -->
                <h3>Main10 Sign Up</h3>
                <form name="signup_form" class="login-form" rc-submit="signup(userinfo,c_password)" novalidate>
                    <div class="row">
                        <div class="col-xs-6" ng-class="{ 'has-error' : rc.signup_form.needsAttention(signup_form.fullName)}">
                            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Full Name" name="fullName" ng-model="userinfo.fullName" ng-required="true" />
                            <div class="form-field">
                                <div class="error-box" ng-show="rc.signup_form.needsAttention(signup_form.fullName)">
                                    <div></div>
                                    <p>Full name is required</p>
                                </div>
                            </div>
                        </div>
                        <!--end of col-xs-6-->
                        <div class="col-xs-6" ng-class="{ 'has-error' : rc.signup_form.needsAttention(signup_form.emailid)}">
                            <input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" placeholder="Email Id" name="emailid" ng-model="userinfo.emailId" ng-required="true" />
                            <div class="form-field">
                                <div class="error-box" ng-show="rc.signup_form.needsAttention(signup_form.emailid)">
                                    <div></div>
                                    <p>Proper email id is required</p>
                                </div>
                            </div>
                        </div>
                        <!--end of col-xs-6-->
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-class="{ 'has-error' : rc.signup_form.needsAttention(signup_form.contactNum)}">
                            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Contact Number" name="contactNum" ng-model="userinfo.contactNum" ng-required="true" />
                            <div class="form-field">
                                <div class="error-box" ng-show="rc.signup_form.needsAttention(signup_form.contactNum)">
                                    <div></div>
                                    <p>Contact Number is required</p>
                                </div>
                            </div>
                        </div>
                        <!--end of col-xs-6-->
                    </div>
                    <!--end of row-->
                    <!--end of row-->
                    <div class="row">
                        <div class="col-xs-12" ng-class="{ 'has-error' : rc.signup_form.needsAttention(signup_form.employeeAddress)}">
                            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Address" name="employeeAddress" ng-model="userinfo.employeeAddress" ng-required="true" />
                            <div class="form-field">
                                <div class="error-box" ng-show="rc.signup_form.needsAttention(signup_form.employeeAddress)">
                                    <div></div>
                                    <p>Address is required</p>
                                </div>
                            </div>
                        </div>
                        <!--end of col-xs-6-->
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-xs-6" ng-class="{'has-error': rc.signup_form.needsAttention(signup_form.password)}">
                            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" ng-model="userinfo.password" ng-required="true" />
                            <div class="form-field">
                                <div class="error-box" ng-show="rc.signup_form.needsAttention(signup_form.password)">
                                    <div></div>
                                    <p>Password is required</p>
                                </div>
                            </div>
                        </div>
                        <!--end of col-xs-6-->
                        <div class="col-xs-6" ng-class="{'has-error': rc.signup_form.needsAttention(signup_form.c_password)}">
                            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password" name="c_password" ng-model="c_password" ng-required="true" />
                            <div class="form-field">
                                <div class="error-box" ng-show="rc.signup_form.needsAttention(signup_form.c_password)">
                                    <div></div>
                                    <p>Password is required</p>
                                </div>
                            </div>
                        </div>
                        <!--end of col-xs-6-->
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <button ui-sref="app.login" type="button" id="back-btn" class="btn grey btn-default">Back</button>
                        </div>
                        <!--end of col-sm-4-->
                        <div class="col-sm-8 ">
                            <button href="" class="btn green pull-right" type="submit">
                                <i class="fa fa-spinner fa-pulse fa-lg fa-fw" ng-if="processing"></i>
                                <span class="sr-only" ng-if="processing">Loading...</span> Sign Up
                            </button>
                        </div>
                        <!--end of col-sm-8-->
                    </div>
                    <!--end of row-->

                    <!--
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sign_with">
                                <h4>Sign in with</h4>
                            </div>
                        </div>
                        <div class="col-md-4 column_space">
                            <a href="#">
                                <img src="img/login/sign_in_gmail.jpg" width="91%" class="" />
                            </a>
                        </div>
                        <div class="col-md-4 column_space1">
                            <a href="#">
                                <img src="img/login/sign_with_facebook.jpg" width="91%" class="" />
                            </a>
                        </div>
                        <div class="col-md-4 column_space2">
                            <a href="#">
                                <img src="img/login/sign_with_linkdin.jpg" class="img-responsive" />
                            </a>
                        </div>
                    </div>
-->
                </form>
            </div>
            <!--end of login-content-->
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-3 bs-reset">

                    </div>
                    <!--end of col-xs-4-->
                    <div class="col-xs-9 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; 2019 Main10 Technologies Pvt Ltd </p>
                        </div>
                        <!--end of login-copyright-->
                    </div>
                    <!--end of col-xs-8-->
                </div>
                <!--end of row-->
            </div>
            <!--end of login-footer-->
        </div>
        <!--end of col-md-8-->
    </div>
    <!--end of row-->
</div>
<!--end of user-login-5-->
<script src="js/login.min.js" type="text/javascript"></script>
